
ul
{
    list-style:none;
}
.Paymentscreen{
    background-color:#F5F5F5;
    color:#A4A9A9;
    display: flex;
    justify-content:space-evenly;
                 
    }
    .disbaledInput{
      background-color: grey;
      
    }
input[type=number]
{
	border-radius: 4px;
  border: 1px solid #9DA0A0;
  box-sizing: border-box;
  padding:5px 5px 5px 5px;
  margin:5px;
  width:95%;
}
input[type=button]
{
border-radius: 4px;
  border: 1px solid #9DA0A0;
  box-sizing: border-box;
  padding:5px;
  margin:10px;
  width:95%;
  color:#DDFCFF;
  background-color:#0048FF;
  font-weight:bold;
  cursor: pointer;
}