<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Borzo Couriers</title>
</head>
<header>

<ul class="nav_links">
		<li><span class="logo">borzo</span></li>
		<li><img  alt="location" src="assets\Images\locationIcon.png" style="width:20px;height:18px;"></li>
		<li>Chennai</li>
</ul>
<nav>
<a href="#">Become a New Customer</a>
<a href="#"><button>Order Delivery</button></a>
<a href="#"><button>Login/Signup</button></a>
</nav>
</header>
<!--  body begins -->
<body>
<div class="body">
	<img  alt="Borzo couriers" src="assets\Images\BodyImage.png" width=42% height=100%>
	<div>
		<aside>
			<h1>Fastest Courier Service in Chennai</h1>
			<p>Low-priced same day delivery service!</p>
		</aside>
		<form  [formGroup]="courierform">
		<div class="formitems">
			<ul>
				<li><input formControlName="pickupaddress" id="pickupaddress" type="text" name="pickupaddress" placeholder="Pick up Address"></li>
				<li><input formControlName="deliveryaddress" type="text" name="deliveryaddress" placeholder="Delivery Address"></li>
				<li *ngIf="bookcouriershow"><input (click)="senttoPDpage()" type="button" name="bookcourier" value="Book a courier"></li>
				<li *ngIf="msgsshow"><p [ngStyle]="{'color':'red'}">{{msg}}</p></li>
				<li><p>Book without registering, urgent delivery at no extra cost</p></li>
			</ul>
			</div>
		</form>
	</div>
</div>
<div class="pd">
	<div class="emptyblock"></div>
	<form *ngIf="show" id="pdform" [formGroup]="pdform" (ngSubmit)="makepayment()">
		<ul>
			<li><input type="text" formControlName="fromname" name="FromName" placeholder="Please enter sender name"> </li>
			<span class="error" *ngIf="pdform.get('fromname')?.invalid &&  (pdform.get('fromname')?.touched ||pdform.get('fromname')?.dirty)">
				Sender name is invalid!</span>
			<li><input type="number" formControlName="fromphonenumber" name="fromphonenumber" placeholder="Please enter sender phonenumber"> </li>
			<span class="error" *ngIf="pdform.get('fromphonenumber')?.invalid &&  (pdform.get('fromphonenumber')?.touched ||pdform.get('fromphonenumber')?.dirty)">
			Phonenumber is invalid!</span>
			<li><input type="text" formControlName="toname" name="ToName" placeholder="Please enter receiver name"> </li>
			<span class="error" *ngIf="pdform.get('toname')?.invalid &&  (pdform.get('toname')?.touched ||pdform.get('toname')?.dirty)">
				Receiver name is invalid!</span>
			<li><input type="number" formControlName="tophonenumber" name="Tophonenumber" placeholder="Please enter receiver phonenumber"> </li>
			<span class="error" *ngIf="pdform.get('tophonenumber')?.invalid &&  (pdform.get('tophonenumber')?.touched ||pdform.get('tophonenumber')?.dirty)">
				Phonenumber is invalid!</span>
			<li><input type="text" formControlName="courieritem" name="courieritem" placeholder="Type of the item, ex: clothes, documents etc"> </li>
			<span class="error" *ngIf="pdform.get('courieritem')?.invalid && (pdform.get('courieritem')?.touched || pdform.get('courieritem')?.dirty)">
				Enter the item to be couriered!</span>
			<li><input type="number" formControlName="weight" name="weight" placeholder="Please enter approximate weight in kgs"> </li>
			<span class="error" *ngIf="pdform.get('weight')?.invalid && (pdform.get('weight')?.touched || pdform.get('weight')?.dirty)">
				Invalid entry!</span>
			<li><input type="submit" [ngClass]="{'buttondisable':isDisabled()}" name="makepayment" value="Make payment" form="pdform"></li>
		</ul><!--[disabled]="!pdform.valid" (onload)="isDisabled()" -->
	</form>
</div>
</body>
<!--footer begins-->
<footer>
<div class="empty"></div>
<img  alt="Chat option" src="assets\Images\chaticon.png" width=5% height=5%>
</footer>
</html>